<p style="text-align: center;">Exercício 2</p>
<input type="number" name="num1" [(ngModel)]="num1" placeholder="Número 1">
<input type="number" name="num2" [(ngModel)]="num2" placeholder="Número 2">
<input type="number" name="resultado" [(ngModel)]="resultado" placeholder="Resultado">
<button (click)="somar()" class="btn btn-primary" style="margin: 10px;">Somar</button>
<button (click)="subtrair()" class="btn btn-primary" style="margin: 10px;">Subtrair</button>
<button (click)="multiplicar()" class="btn btn-primary" style="margin: 10px;">Multiplicar</button>
<button (click)="dividir()" class="btn btn-primary" style="margin: 10px;">Dividir</button>